<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPLOAD CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>UPLOAD YOUR CSV FILE</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".CSV" required>
        <button type="submit">UPLOAD</button>
    </form>
</body>
</html>!!