<!DOCTYPE html>
<html>
<head>
    <title>Data Processor</title>
</head>
<body>
    <h2>Upload CSV</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Upload">
    </form>

    {% if table %}
        <h2>Data Table</h2>
        {{ table|safe }}

        <h3>Processing</h3>
        <a href="/process/fill_zero">Fill NaN with 0</a> |
        <a href="/process/fill_mean">Fill NaN with Mean</a> |
        <a href="/process/dropna">Drop NaN</a>

        

        <h3>Download</h3>
        <a href="/download">Download Processed CSV</a>


    {% endif %}
</body>
</html>
